:root{
	--mostaza-dark:#594408;
	--mostaza:#9e7c1c;
	--fondo:#f5e1ab;
	--fondo-claro:#ffedbd;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	padding: 30px;
	background-color: var(--fondo);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--mostaza-dark);
}

.container{
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}
.container-pomodoro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.frame{
	height: 300px;
	width: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pomodoro{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	position: relative;
	border:3px solid var(--mostaza);
	transform: rotate(0);

}

.tuki{
	height:  16px;
	width: 16px;
	border-radius: 50%;
	background-color: var(--mostaza);
	position: absolute;
	left: calc(50% - 8px);
	top: 0;
}

.formulario{
	padding: 20px;
	height: 250px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid var(--mostaza);
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.formulario span{
	color: var(--mostaza-dark);
	font-size: 1.2rem;
}
.formulario input{
	font-size: 1rem;
	color: var(--mostaza-dark);
	display: block;
	width: 100%;
	padding: 5px;
	background-color: var(--fondo-claro);
	border: 1px solid var(--mostaza);
	border-radius: 3px;
	outline: none;
	text-transform: uppercase;
}
.formulario input:hover{
	background-color: var(--fondo);
}

.tareas{
	width: 100%;
	border: 2px solid var(--mostaza);
	padding: 10px 25px;
}

.tareas__lista{
	display: flex;
	flex-direction: column;
	gap:15px;
}
.tareas__item{
	border: 1px solid var(--mostaza);
	padding: 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	gap:5px;
	align-items: center;
}

.tareas__tarea{
	flex-grow: 1;
	font-size: 1.3rem;
}

.tarea-btn{
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid var(--mostaza);
	color: var(--mostaza-dark);
	border-radius: 50%;
}

.play-stop:hover, .remove:hover{
	background-color: var(--mostaza-dark);
	color: var(--fondo);
}


.contador{
	position: absolute;
	border: 2px solid var(--mostaza);
	font-size: 3rem;
	padding: 10px;
	border-radius: 10px;

}
